// Global default params



params {
	
	//-------------  genome options
	genome_fa = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/genome/hg38.fasta'
	ucsc_chain = '/hpc/grid/hgcb/workspace/users/shangzhong/publicDB/hg38ToHg19.chain.gz'
	crossmap_fa = '/hpc/grid/hgcb/workspace/users/shangzhong/publicDB/hg37.fa'
	//-------------  mutation option
	out_dir = '/hpc/grid/hgcb/workspace/users/shangzhong/SCZ'
	vcf_fn = '/hpc/grid/hgcb/workspace/users/shangzhong/SCZ/recal_varis.vcf.gz'
	vep_db = '/hpc/grid/hgcb/workspace/users/shangzhong/publicDB/vep_db_96_GRCH38'
	ped_fn = '/hpc/grid/hgcb/workspace/users/shangzhong/SCZ/pedigree.ped'
	//-------------  global options
	cpu = 26
	mem = 30  // in unit of GB
	

}